.footer {
    display: flex;
    justify-content: space-between;
    margin: -8px;
}

.footer > .rectangle-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer > .rectangle-wrapper > .rectangle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 1.25em;
    background-color: rgb(63, 63, 71);
    border: 1px solid rgb(146, 146, 146);
    height: 50px;
    width: 287px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-left: 50px;
    margin-top: 9px;
    letter-spacing: -1px;
}

.footer > .rectangle-wrapper > .rectangle > .rectangle1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer > .rectangle-wrapper > .rectangle > .rectangle2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 50px;
}

.footer > .rectangle-wrapper > .rectangle > .rectangle3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer > .rectangle-wrapper > .rectangle > .rectangle4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer > .rectangle-wrapper > .rectangle > .rectangle1 > .cap-text {
    padding-right: 75px;
    margin-bottom: 4px;
    font-weight: bolder;
    font-size: 1.15em;
    margin-left: 5px;
}

.footer > .rectangle-wrapper > .rectangle > .rectangle2 > .cap-text {
    margin-bottom: 4px;
    font-weight: bolder;
    font-size: 1.15em;
    margin-left: 5px;
}

.footer > .rectangle-wrapper > .rectangle > .rectangle3 > .cap-text {
    padding-right: 75px;
    margin-bottom: 4px;
    font-weight: bolder;
    font-size: 1.15em;
    margin-left: 5px;
}

.footer > .rectangle-wrapper > .rectangle > .rectangle4 > .cap-text {
    padding-right: 75px;
    margin-bottom: 4px;
    font-weight: bolder;
    font-size: 1.15em;
    margin-left: 5px;
}